<div class="container"style="max-width: 80%">
    <div class="colulmns is-vcentered has-text-centered">
        <strong class="column has-text-grey-lighter">
            Made with Love by Ahmed Elgaidi
        </strong>
        <strong class="column has-text-grey-lighter">
            copyright &copy; 2020 
        </strong>
    </div>
</div>
    <!-- To use Font-awesome icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>